mat-accordion{
    width: 90%;
    max-width: 600px;
}

.event-title{
    font-size: 15.5px;
}

.event-date{
    font-size: x-small;
}

mat-expansion-panel{
    margin-bottom: 6px;
}

.canModify{
    border-left: 4px solid green;
    padding-left: 10px;
    padding-right: 10px;
}

.cannotModify{
    border-left: 4px solid red;
    padding-left: 10px;
    padding-right: 10px;
}