<section fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center" class="main">
    <h2 style="margin-top: 10px; margin-bottom: 10px;"><b>ABOUT ME</b></h2>
    <div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <img mat-card-image src="assets/images/My Pic.jpg" style="width: 60%;" alt="Guna Teja Yadavalli">
      </div>
    </div>
    <br>
    <div class="intro">
        My name is <b>Guna Teja Yadavalli</b>. I am........
    </div>
    <br>
    <p class="animate__animated animate__flash animate__infinite infinite animate__slow"><i>Still thinking what to write here</i></p>  
    <br>
    <div class="contact">Hire me for your projects? Contact me here..</div>
    <br>
  </div>
  </section>