footer{
    height: 18px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3f51b5;
    color: white;
    text-align: center;
}
p{
    font-size: 11.5px;
    text-align: center;
    padding-bottom: 5px;
    bottom: 5px;
}

mat-icon{
    color: red;
    font-size: 15px;
}

a{
    color: white;
}