<section>
    <br>
    <mat-card fxLayout="column" fxLayoutAlign="center center">
    
      <mat-card-header>
        <mat-card-title>Reset Password</mat-card-title>
      </mat-card-header>
    
      <mat-card-content>
    
        <mat-vertical-stepper linear="true" #stepper fxLayout="column" fxLayoutAlign="center center">
          
          <mat-step [stepControl]="userNameFormgroup">
            <form [formGroup]="userNameFormgroup" fxLayout="column" fxLayoutAlign="center center">
              <ng-template matStepLabel>Enter username</ng-template>
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input type="text" matInput placeholder="Enter your username" formControlName="username" (keyup)="onKeyUsername()">
                <mat-error *ngIf="userNameFormgroup.controls.username.hasError('required')">Username is missing</mat-error>
                <mat-error *ngIf="userNameFormgroup.controls.username.hasError('userNotExist')">User name doesn't exist</mat-error>
              </mat-form-field>
              <div>
              <button mat-button color="primary" matStepperNext [disabled]="userNameFormgroup.controls.username.invalid || !userNameFormgroup.hasError('modified')" (click)="getUserSecQues()">Validate</button>
              <button mat-button matStepperNext color="primary" [disabled]="userNameFormgroup.invalid">Next</button>
              </div>
              <!-- <mat-spinner *ngIf="isUsernameValidating"></mat-spinner> -->
            </form>
          </mat-step>

          <mat-step [stepControl]="secQuesAnsFormGroup">
            <form [formGroup]="secQuesAnsFormGroup" fxLayout="column" fxLayoutAlign="center center">
              <ng-template matStepLabel>Answer security question</ng-template>
              <div class="ques"><b>Ques : <i>{{secQuesAnsFormGroup.value.secQues}}</i></b></div>
              <mat-form-field appearance="outline">
                <mat-label>Answer</mat-label>
                <input type="text" matInput placeholder="Your answer" formControlName="answer" (keyup)="onKeyAnswer()">
                <mat-error *ngIf="secQuesAnsFormGroup.controls.answer.hasError('required')">Answer is missing</mat-error>
                <mat-error *ngIf="secQuesAnsFormGroup.controls.answer.hasError('wrongAnswer')">Wrong answer</mat-error>
              </mat-form-field>
              <div>
                <button mat-button color="primary" [disabled]="secQuesAnsFormGroup.controls.answer.invalid || !secQuesAnsFormGroup.hasError('modifiedAnswer')" (click)="validateAnswer()">Validate</button>
                <button mat-button matStepperNext color="primary" [disabled]="secQuesAnsFormGroup.invalid">Next</button>
              </div>
              <!-- <mat-spinner *ngIf="isAnswerValidating"></mat-spinner> -->
            </form>
          </mat-step>
    
          <mat-step [stepControl]="passwordResetGroup">
            <form [formGroup]="passwordResetGroup" fxLayout="column" fxLayoutAlign="center center">
              <ng-template matStepLabel>Reset password</ng-template>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Enter password" formControlName="password" (keyup)="onKeyPassword()">
                <mat-hint>Must be min 8 charaters long</mat-hint>
                <mat-error>Must be min 8 charaters long</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput placeholder="Re-enter password" formControlName="confirmPassword" (keyup)="onKeyPassword()">
                <mat-error *ngIf="passwordResetGroup.controls.confirmPassword.hasError('mismatch')">Passwords didn't match</mat-error>
              </mat-form-field>
              <div>
                <button mat-button (click)="OnSubmit()" [disabled]="passwordResetGroup.invalid">Submit</button>
              </div>
              <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
            </form>
          </mat-step>
    
        </mat-vertical-stepper>
    
      </mat-card-content>
    
    </mat-card>
    </section>