<section fxLayoutAlign="center center">
<div fxLayout="column" fxLayoutAlign="center center" class="main">
    <h2 style="margin-top: 10px;"><b>ABOUT THE APP</b></h2>
<div>
    <div class="AppIntro">
        <p>
            <b>My Photo Links</b> is a one stop solution to access all your photos/drive links anytime anywhere. The idea of developing the app came from the difficulty faced by everyone in searching the photos of an event/trip when needed.
        </p>
    </div>
    <br>
    <div class="features">
        <h3><b>Features :-</b></h3>
        <ul>
            <li>Individual user account by signup & login.</li>
            <li>Forgot password option to recover password.</li>
            <li>Search photo links with filter - keywords/event date range/tags.</li>
            <li>Display photo links based on the user tags so that user cant view the photos he/she is not supposed to.</li>
            <li>Add new photo links and assign tags to the link.</li>
            <li>Edit/delete existing links.</li>
            <li>View & edit our own user profile.</li>
            <li>Give feedback - User can submit feedback, report issues and give suggestions.</li>
            <li>View feedbacks - Track all the feedbacks and respond accordingly.</li>
            <li>Manage users - Block a user, Assign/remove admin role to user, modify tags assigned to a user.</li>
            <li>Manage tags - Add new tags, edit existing tag and delete a tag.</li>
            <li>Color indications - Making use of CSS, system will display users with admin role, blocked users, users with no tags, editable/non-editable photo links, unresolved issues reported by users and many more so that user will have a clear view.</li>
            <br>
            <li>
                <h3><b>Role based authorization :</b></h3>
                <ul>
                    <li><b>USER : </b>Search and view photo links</li>
                    <li><b>ADMIN : </b>Add, Edit and Delete photo links</li>
                    <li><b>SUPERADMIN : </b>Manage users and tags, view feedbacks and respond</li>
                </ul>
            </li>
        </ul>
        <div class="animate__animated animate__flash animate__infinite infinite" style="color: green;"><b>More features coming soon....</b></div>
        <br>
        <h3><b>Technologies :-</b></h3>
        <ul>
            <li><b>Backend : </b>Java 8, Spring boot - rest - jpa, Spring security - JWT</li>
            <li><b>Database : </b>My SQL (GCP Cloud SQL)</li>
            <li><b>Frontend : </b>Angular, Angular Material, HTML5, CSS3, Flex layout</li>
            <li><b>3rd party libraries : </b>SweetAlert2, NGX UI Loader, Animate.CSS</li>
            <li><b>Hosting : </b>Google Cloud Platform - App engine</li>
        </ul>
        </div>
    <br>
    <!-- <div fxLayout="column" fxLayoutAlign="center center"><div>Feel free to fork the project on<a href="https://github.com/gunatejayadavalli/My-Photo-Links-Project" target="_blank"style="padding:0" mat-button color="primary">Github</a></div></div> -->
    <div fxLayout="column" fxLayoutAlign="center center"><div>Feel free to fork the project on  <a  href="https://github.com/gunatejayadavalli/My-Photo-Links-Project" target="_blank"><i class="fab fa-github socialIcons animate__animated animate__heartBeat animate__infinite -infinite"></i></a></div></div>
    <a routerLink="/aboutMe" mat-button color="primary" fxLayout="column" fxLayoutAlign="center center">Meet the developer?</a>
    <br><br>
</div>
</div>
</section>